.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 150px;
  pointer-events: none;
  margin-bottom: 50px;
}

.score {
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
  margin-bottom: 20px;
}

.label {
  font-weight: bolder;
}

.button {
  color: black;
  background-color: lightgray;
  font-size: calc(10px + 2vmin);
  border-radius: 8px;
}
